body {
	margin: 0;
	padding: 0;
}
footer {
	width: 100%;
	position: relative;
	height: 86vh;
	background-color: #075ba6;
	float: left;
}
#logo {
    width: 13%;
	-moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #ffffff;
	position: absolute;
	top: 20%;
	left: 5%;
	padding: 1%;
	padding-bottom: 3%;
	padding-top: 3%;
}
#logo img {
	margin-left: 3%;
    width: 92%;
}

#contactusimg img {
    width: 7%;
    height: auto;
    top: 18%;
    left: 67%;
    position: absolute;
}
#col-1{
	position: absolute;
	top: 6%;
	left: 27%;
	width: 20%;
}
#col-1 div {
	line-height: 0.7;
	margin-top: 6%;
}
#col-1 a {
	color: #ffffff;
    text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
	line-height: 0.7;
	
}

#col-1 p {
	color: #ffffff;
    text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
	line-height: 0.7;
}
#col-2{
	position: absolute;
	top: 6%;
	left: 55%;
	width: 20%;
}
#col-2 div {
	line-height: 0.7;
	margin-top: 6%;
}
#col-2 a {
	color: #ffffff;
    text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
	line-height: 0.7;
}
#col-2 p {
	color: #ffffff;
    text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
	line-height: 0.7;
}
#col-3{
	position: absolute;
	top: 6%;
	left: 75%;
	width: 20%;
}
#col-3 div {
	line-height: 0.4;
	margin-top: 6%;
}
#col-3 p {
	color: #ffffff;
    text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
	line-height: 0.4;
}
#col-3 a {
	color: #ffffff;
    text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
	line-height: 0.4;
}
#col-4{
	
	box-sizing: border-box;
	position: absolute;
	top: 77%;
	left: 15%;
	width: 55%;
}
#col-4 div {
	margin-top: 3%;
}
#col-4 p {
	color: #ffffff;
    text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
}
#col-5{
	
	box-sizing: border-box;
	position: absolute;
	top: 77%;
	left: 75%;
	width: 20%;
}
#col-5 div {
	margin-top: 5%;
}
#col-5 p {
	color: #ffffff;
    text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
}
.soc {
	box-sizing: border-box;
	position: absolute;
	top: 85%;
	left: 75%;
	width: 20%;
}
.soc div {
	margin-top: 5%;
}


#col-5 img {
	line-height: 0.5;
}
#head {
	box-sizing: border-box;
	width: 97%;
	height: 13vh;
	background: #fff;
	margin-left: 2%;
	margin-top: 1%;
	float: left;
}

#headimg {
	margin-top: 0.5%;
	width: 5%;
	background: #ffffff;
	float: left;
	
}
#headtext {
	margin-left: 2%;
	margin-top: 0.5%;
	width: 24.5%;
	font: 3.5vw Tahoma;
	float: left;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;
}
#headtext1 {
	margin-top: 3.7%;
	width: 10%;
	background: #ffffff;
	font: 1.5vw Tahoma;
	float: left;
	color: #002063;
}

.headimg2 {
	margin-top: 1.5%;
	width: 7%;
	background: #ffffff;
	float: right;
	margin-right: 1%;
	cursor: pointer;
}
.headimg2 a{
	text-decoration: none;
	width: 30%
}
.headimg2 img{
	margin-right: 2%
}
.headimg2 span{
	font-size: 1vw;
	margin-bottom: 10px;
	color: grey
}

.fon {
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 40vh;
	background-image: url('../img/fon.png');
	background-size: 100% 100%;
	
	
}

#onfon {
	box-sizing: border-box;
	width: 35%;
	height: 100%;
	float: left;
	margin-left: 54%;
    background-color: black;
    opacity: 0.8;
	height: 40vh
}
#label {
	margin-block-start: 0; 
	margin-block-end: 0; 
	padding-left: 4%;
	color: white; 
	font: 4vh Arial Black;
	text-align: left
}
 #oh{
	padding-left: 4%;
	color: white; 
	font: 2.7vh Tahoma; 
	text-align: left;
	margin-block-start: 0; 
	margin-block-end: 0; 
}
#left {
	box-sizing: border-box;
	float: left;
	width: 30%;
	height: 35vh;
	margin-top: 2%;
	margin-left: 12%;
	
	
}
#right {
	box-sizing: border-box;
	float: left;
	width: 30%;
	height: 35vh;
	margin-top: 2%;
	margin-left: 15%;
	
}
.pi {
	cursor: pointer; 
	margin-top: 7%; 
	box-sizing: border-box; 
	float: left; 
	width: 100%; 
	height: 24%; 
	box-shadow: 3px 3px 3px 1px #a3a3a3;
}
.pi:hover{
	box-shadow: 3px 3px 3px 2px #a3a3a3;
}
.p1 {
	float: left; 
	margin-top: 2%; 
	width: 80%; 
	font: 2.2vw Calibri; 
	color: white; 
	text-align: center;
}
.soci {
	width: 2vw; 
	height:auto; 
	cursor:pointer;
	
}

@media all and (max-width : 480px) {
  .fon{max-width: none; width: 100%; height: 27vh;}
  #left {width: 40%; height: 25vh ;margin-top: 3%; margin-left: 6%;}
  #right {width: 40%; height: 25vh ;margin-top: 3%; margin-left: 6%;}
  .pi p {line-height: 1;font-size: 3vw;}
  .pi {height: 27%; }
  #head {height: 6vh;}
  #headtext {font: 5vw Tahoma;width: 35%;}
  #headtext1 {font: 2vw Tahoma;width: 25%;margin-top: 4%;}
  #headimg {width: 7%;}
  #headimg2 {width: 5%;}
  footer {margin-top: 2%; height: 35vh;padding-bottom: 3%;}
  .soci {width: 5vw;}
  .soc {width: 25%; }
  #label { font-size: 3vw; }
  #oh {font: 2vw Tahoma; }
  #onfon {height: 27vh; }
}