body {
	margin: 0;
	padding: 0;
	min-width: 600px;
}

.warn {
	position: fixed;
	width: 80%;
	top: 0;
	left: 10%;
	z-index: 100;
	font-family: Arial;
	font-size: 2vw;
	text-align: center;
	box-sizing: border-box;
	padding: 2%;
	background-color: white;
	box-shadow: 0px 0px 5px 1px #dddcdd;
	transform: translateY(-101%);
	transition: transform .30s ease-in;
}
.open {
	transform: translateY(3%);
}
.warn span {
	cursor: pointer;
	float: right
}

#window0 {
	width: 60%;
	height: 100vh;
	font: 1.3vw Tahoma;
	float: left;
	background: #595959;
	color: #fff;
	position: fixed;
	top: 0;
	left: 20%;
	z-index: 110
}
#window0 p {
	margin-left: 8%;
	margin-top: 4%;
	width: 95%;
	font: 3.2vw Tahoma;
	float: left;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;
}
.winstart {
	width: 60%;
	height: 100vh;
	font: 1.3vw Tahoma;
	float: left;
	background: #595959;
	color: #fff;
	position: fixed;
	top: 0;
	left: 20%;
	z-index: 250;
	visibility: hidden;
}

#window1 p {
	margin-left: 8%;
	margin-top: 4%;
	width: 95%;
	font: 3.2vw Tahoma;
	float: left;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;
}

.start, #start0 {
	cursor: pointer; 
	margin-left: 30%;  
	margin-top: 3%; 
	box-sizing: border-box; 
	float: left; 
	width: 65%; 
	height: 11%; 
	background-color: #00cc00; 
	box-shadow: 3px 3px 3px 1px #000;
}
#start, #start0:hover {
	box-shadow: 3px 3px 3px 2px #000;
}

#add, #add0 {
	margin-left: 6%;  
	margin-top: 2%; 
	float: left; 
	width: 80%; 
	font: 2.5vw Calibri; 
	color: white;
}

#block {
	width: 100%;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
	opacity: 0.6;
	background-color: white;
	transition: 0.6s;
	z-index: 200
}

#header {
	width: 100%;
	height: 10vh;
	position: relative
}
#header img{
	position: absolute;
	cursor: pointer
}
#logotext{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
	font-family: Tahoma;
	font-size: 3.5vw;
	margin-left: 8%;
	margin-top: 2.5vh
}
#progress {
	height: 30vh;
	box-sizing: border-box;
	padding-top: 1%;
	margin-left: 10%;
	width: 90%;
}
#progress div{
	float: left
}
#progress img{
	width: 100%;
	
}
.steps {
	width: 3%;
	border: 2px solid #a6a6a6;
	border-radius: 200px;
}
.line {
	background: linear-gradient(to right, #4472c4, #ed7d31, #a5a5a5);
    height: 4px;
	width: 10%;
	float: left;
	margin: 2.5vh 0.5% 0 0.5%;
}
.navi {
	font-family: tahoma;
	font-size: 1vw;
	width: 12%;
	text-align: center;
	margin-right: 1.7%;
	color: #a6a6a6;
}

#title {
	width: 100%;
	font-size: 2vw; 
	font-weight: bold;
	text-align: center;
	font-family: Arial black;
	color: #5a555a
}

#pic {
	width: 4.3%;
	background-size: cover;
	margin: 0.5vh 0 1vh 47.5%;
	border: 1px solid grey;
	background-color: white;
	border-radius: 200px;
}
#pic img{
	width: 100%;
}

.entity {
	width: 30.5%;
	margin-right: 2%;
	float: left;
	text-align: center;
	font-family: tahoma;
	font-size: 1.1vw;
	font-weight: bold;
	color: #5a555a
}
.center {
	height: 4px;
	width: 100%;
	background: #00b1f2;
	box-shadow: 0 0 7px 1px #00b1f2;
}

#backgr {
	width: 100%;
	top: 34vh;
	height: 66vh;
	background: url('../img/fon.png');
	background-size: cover;
	opacity: 0.3;
	position: absolute; 
	bottom:0;
	z-index: 90
}

#content {
	width: 100%;
	height: 60%;
	top: 34vh;
	background-size: cover;
	position: absolute; 
	bottom:0;
	z-index: 100;
}

.quizbut {
	width: 100%;
	min-height: 5vh;
	margin-top: 2vh;
	outline: none;
	color: #002063;
	cursor: pointer;
	font-size: 1.2vw;
}
.checked {
	background: linear-gradient(180deg, #f4b183, #b0500f);
	border: none;
	font-weight: bold
}

.arrows {
	width: 12%;
	position: absolute;
	top: 27vh;
	cursor: pointer;
	padding: 0.5%;
	text-align: center;
	font-family: arial;
	color: white;
	box-sizing: border-box;
	font-size: 1.5vw
}
.arrpic {
	width: 20%;
	cursor: pointer;
}

.labels {
	font-family: tahoma;
	font-size: 1.5vw;
	font-weight: bold;
	color: #5a555a;
}

.sqar {
	border: 1px solid grey;
	box-sizing: border-box;
	padding: 5%;
	width: 23%;
	margin: 1%;
	float: left
}

#getform {
	width: 100%;
	height: 15vh;
	background: url('../img/fon.png');
	background-size: 100% 150%;
	cursor: pointer;
	float: left
}

#window2 {
	position: absolute;
	bottom: 18%;
	left: 25%;
	width: 50%;
	height: 75vh;
	float: left;
	background: #595959;
	color: #fff;
	font: 2.2vw Tahoma;
	line-height: 1.4;
	text-align: center;
	z-index: 120
}
#botend{
	margin-left: 6%;  
	margin-top: 1%; 
	float: left; 
	width: 70%; 
	font: 2.2vw Calibri; 
	color: white;
}

.input {
	border-radius: 10px;
	width: 40%;
	height: 6.5vh;
	padding-left: 1%;
	font: 1.3vw Tahoma;
	color: #000;
	font-style: italic;
	outline: none
}
#input1 {
	border-radius: 10px;
	width: 83%;
	height: 6.5vh;
	padding-left: 1%;
	font: 1.3vw Tahoma;
	color: #000;
	font-style: italic;
	outline: none
}
::-webkit-input-placeholder { /* Chrome */
  color: #c0c4c2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c0c4c2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c0c4c2;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #c0c4c2;
  opacity: 1;
}

#log{
	left: 1%; 
	top: 2vh;
	width: 5%;
}
#lan {
	width: 2%;
	right: 2%; 
	top: 3vh;
}
#home {
	width: 2.5%;
	right: 5%; 
	top: 3vh;
}

.qu {
	height: 14vh;
}
#openform {
	cursor: pointer; 
	margin: 3vh 2%;
	width: 28%;
	background-color: #00cc00; 
	box-shadow: 3px 3px 3px 1px #000;
	float: right
}
#op {
	margin-left: 6%;  
	margin-top: 2%; 
	float: left; 
	width: 70%; 
	font: 2.2vw Calibri; 
	color: white;
}
#end {
	margin-left: 6%;  
	margin-top: 2%; 
	float: left; 
	width: 70%; 
	font: 2.2vw Calibri; 
	color: white;
}
#opimg{
	float: right; 
	margin: 2%;
	width: 9%;
}
.resulto {
	width: 22%
}

 
@media all and (max-width : 480px) {
  #logotext {font-size: 10vw}
  #header {height: 11vh; position: fixed; top: 0; background-color: white}
  #progress {height: 20vh; width: 100%; position: fixed; top: 10vh; background-color: white; margin: 0; box-sizing: border-box; padding: 30px 0 0 4.5%;}
  #progress div {width: 6.5%}
  #window1 {left: 0; width: 100%; height: 100%; font: 4vw Tahoma; bottom:0;}
  #window0 {left: 0; width: 100%; height: 100%; font: 4vw Tahoma; bottom:0;}
  #start {position: absolute; margin-left: 5%; bottom: 20px; width: 90%; height: auto; }
  #window0 p {text-align: center;margin-left: 2%; padding-right: 5%;font: 6vw Tahoma;}
  #window1 p {text-align: center;margin-left: 2%; padding-right: 5%;font: 6vw Tahoma;}
  #add {font: 6vw Calibri;}
  .arrows {height: 7%; z-index: 105; font-size: 10vw; width: 50%; position: fixed; bottom: 0; top: auto; padding-top: 2%}
  .arrows img {margin-bottom: 3%}
  #title {font-size: 11vw; margin-top: 1%;}
  input {max-width: 100%;}
  .entity {margin-top: 1%; margin-bottom: 20%; width: 96%; font-size: 9vw; margin-left: 2%;}
  #backgr {width: 100%; position: fixed; top: 30vh; height: 100%; z-index: -100}
  #content {margin-top: 35vh; position: static; width: 100%}
  #log{width: 7%;}
  #lan {width: 4%; top: 3.5vh;}
  #home {width: 5%; top: 3.5vh; right: 10%}
  .navi {visibility: hidden;}
  .steps {width: 10%}
  .line {width: 6%;margin: 4vh 0.5% 0 0.5%;}
  .quizbut {min-height: 15vh;font-size: 8vw;}
  .warn {font-size: 8vw; z-index: 105;}
  #wa {margin-left: 3%;}
  .labels {font-size: 8vw;}
  #getform {background: none; }
  #openform {position: fixed; margin-left: 0; bottom: 7%; top: auto; width: 100%; height: 7%; font: 5vw Tahoma;z-index: 105;}
  .qu {height: auto;}
  #window2 {position: fixed; height: 65%; left: 0; top:0; width: 100%; font: 5vw Tahoma;}
  .input {font: 4vw Tahoma;}
  #input1 {font: 4vw Tahoma;}
  #op {font: 12vw Calibri; margin-left: 3%; width: 85%; }
  #end {font: 6vw Calibri; }
  #botend{font: 6vw Calibri; }
  #pic {width: 16%; margin: 0.5vh 0 1vh 42%;}
  #opimg{margin: 0.3%;}
  .arrpic {width: 12%;}
  #flab {font-size: 200%}
}


