body {
	margin: 0;
	padding: 0;
	min-width: 600px;
}

.warn {position: fixed; width: 80%; top: 0; z-index: 100; font-family: Arial; font-size: 19px; text-align: center; box-sizing: border-box; padding: 7px 20px; background-color: #f64444; box-shadow: 0px 0px 5px 1px #dddcdd; transform: translateY(-101%); transition: transform .30s ease-in; margin: auto; right: 0; left: 0; color: #fff; }
.open {
	transform: translateY(3%);
}
.warn span {
	cursor: pointer;
	float: right
}

#window0 {
	width: 60%;
	height: 100vh;
	font: 1.3vw Tahoma;
	float: left;
	background: #595959;
	color: #fff;
	position: fixed;
	top: 0;
	left: 20%;
	z-index: 110
}
#window0 p {
	margin-left: 8%;
	margin-top: 4%;
	width: 95%;
	font: 3.2vw Tahoma;
	float: left;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;
}
.winstart {
	width: 60%;
	height: 100vh;
	font: 1.3vw Tahoma;
	float: left;
	background: #fefefe;
	color: #000;
	position: fixed;
	top: 0;
	left: 20%;
	z-index: 250;
	visibility: hidden;
	box-shadow: 0px 0px 14px 4px #c3c3c3;
}
.wel-popsty951{}
.wel-popsty951 li{margin-bottom: 10px;}
#window1 p {
	margin-left: 8%;
	margin-top: 4%;
	width: 95%;
	font: 3.2vw Tahoma;
	float: left;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;
}

/*.start, #start0 {
	cursor: pointer; 
	margin-left: 30%;  
	margin-top: 3%; 
	box-sizing: border-box; 
	float: left; 
	width: 65%; 
	height: 11%; 
	background-color: #00cc00; 
	box-shadow: 3px 3px 3px 1px #000;
}*/
#start, #start0:hover {
	box-shadow: 3px 3px 3px 2px #000;
}

#add, #add0 {
	margin-left: 6%;  
	margin-top: 2%; 
	float: left; 
	width: 80%; 
	font: 2.5vw Calibri; 
	color: white;
}

#block {
	width: 100%;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
	opacity: 0.9;
	background-color: white;
	transition: 0.6s;
	z-index: 200
}

.pop-buttonsty951{text-align: center !important; width: 100%;}
.pop-buttonsty951 button{background-color: #00ccff;
color: #fff !important;
padding: 10px 45px;
font-size: 20px !important;
font-weight: 400 !important;
margin-top: 24px !important;
cursor: pointer !important;
border: solid 0px #fff;
/*box-shadow: 0px 0px 0px 5px #0cf;*/
width: auto !important;
float: none !important;
margin: 0px;background: linear-gradient(45deg, #1d337f, #76c5f0, #47cf73);
background-size: 200% 200%;
background-position: center left;}

.pop-buttonsty951 button:hover{
	-webkit-animation: background-rainbow3 1s infinite linear alternate;
animation: background-rainbow3 1s infinite linear alternate;
}

@-webkit-keyframes background-rainbow3{0%{background-position:center left}100%{background-position:center right}}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

#header {
	width: 100%;
	height: auto;
	min-height: 67px;
	position: relative
}
#header img{
	position: absolute;
	cursor: pointer
}
#logotext{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
	font-family: Tahoma;
	font-size: 3.5vw;
	margin-left: 8%;
	margin-top: 2.5vh
}
#progress {
height: auto; padding-top: 25px; margin-left: 0%; width: 76%; min-height: 100px; padding-bottom: 6px; margin: auto; }
#progress div{
	float: left
}
#progress img{
	width: 100%;
	
}
.steps {
	width: 4%;
	border: 2px solid #a6a6a6;
	border-radius: 200px;
}
.line {
	background: linear-gradient(to right, #4472c4, #ed7d31, #a5a5a5);
    height: 4px;
	width: 10%;
	float: left;
margin: 25px 0px 10px 0px;
}
.navi {
	font-family: tahoma;
	font-size: 1vw;
	width: 12%;
	text-align: center;
	margin-right: 1.7%;
	color: #fff;
}

#title {
	width: 100%;
	font-size: 34px; 
	font-weight: bold;
	text-align: center;
	font-family: Arial black;
	color: #fff;
	margin-bottom: 14px;
}

#pic {
	width: 4.3%;
	background-size: cover;
	margin: 0.5vh 0 1vh 47.5%;
	border: 1px solid grey;
	background-color: white;
	border-radius: 200px;
}
#pic img{
	width: 100%;
}

.entity {
	width: 30.5%;
	margin-right: 2%;
	float: left;
	text-align: center;
	font-family: tahoma;
	font-size: 1.1vw;
	font-weight: bold;
	color: #fff;
}
.arrow-possty951{text-align: right;width: 94%; margin: auto;}
.center {
	height: 4px;
	width: 100%;
/*	background: #00b1f2;
	box-shadow: 0 0 7px 1px #00b1f2;*/
}

/*#backgr {
	width: 100%;
	top: 34vh;
	height: 66vh;
	background: url('../img/fon.png');
	background-size: cover;
	opacity: 0.3;
	position: absolute; 
	bottom:0;
	z-index: 90
}*/

#content {
	width: 100%;
/*	height: 60%;
	top: 34vh;*/
	background-size: cover;
/*	position: absolute;*/ 
	bottom:0;
	z-index: 100;
}

.quizbut {
	width: 94%;
min-height: auto;
margin-top: 16px;
outline: none;
cursor: pointer;
font-size: 16px;
background-color: #555659;
color: #fff;
padding: 8px 10px;
border: solid 2px #fff;
box-shadow: 0px 0px 0px 4px #555659;
font-weight: 600;
margin-left: 18px;
}
.checked {
	background: linear-gradient(180deg, #eb8035, #eb8035);
	border: none;
	font-weight: bold;
	border: solid 2px #fff;

box-shadow: 0px 0px 0px 4px #eb8035;
}

.arrows {
	width: 12%;
/*	position: absolute;*/
	top: 27vh;
	cursor: pointer;
	padding: 0.5%;
	text-align: center;
	font-family: arial;
	color: white;
	box-sizing: border-box;
	font-size: 1.5vw;
	display: inline-block;
	background: linear-gradient(45deg, #1d337f, #76c5f0, #47cf73);
color: #fff;
background-size: 200% 200%;
background-position: center left;
border-radius: 2px;
border: solid 1px #fff;
}

.arrows:hover{
	-webkit-animation: background-rainbow 1s infinite linear alternate;
animation: background-rainbow 1s infinite linear alternate;
}

@-webkit-keyframes background-rainbow{0%{background-position:center left}100%{background-position:center right}}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.main-bgsty951{background-image: url(../img/american.jpg); background-size: cover;}
.layercolorsty{background-color: rgba(125, 125, 125, 0.9);padding: 46px 5px;}
.arrpic {
	width: 20%;
	cursor: pointer;
}

.labels {
	font-family: tahoma;
	color: #fbfbfb;
margin-bottom: 16px;
font-size: 20px !important;
font-weight: 400 !important;
letter-spacing: 1.5px;
}

.sqar {
	border: 1px solid grey;
	box-sizing: border-box;
	padding: 5%;
	width: 23%;
	margin: 1%;
	float: left;
	background-color: #fff;
color: #000;
}

#getform {
	width: 100%;
	height: 15vh;
/*	background: url('../img/fon.png'); */	
background-size: 100% 150%;
	cursor: pointer;
	float: left
}

#window2 {
	position: absolute;
	bottom: 18%;
	left: 25%;
	width: 50%;
	height: 75vh;
	float: left;
	background: #595959;
	color: #fff;
	font: 2.2vw Tahoma;
	line-height: 1.4;
	text-align: center;
	z-index: 120;
	box-shadow: 5px 5px 5px 475px rgba(125, 125, 125, 0.84);
}
#botend{
	margin-left: 6%;  
	margin-top: 1%; 
	float: left; 
	width: 70%; 
	font: 2.2vw Calibri; 
	color: white;
}

.input {
	border-radius: 10px;
	width: 40%;
	height: 6.5vh;
	padding-left: 1%;
	font: 1.3vw Tahoma;
	color: #000;
	font-style: italic;
	outline: none
}
#input1 {
	border-radius: 10px;
	width: 83%;
	height: 6.5vh;
	padding-left: 1%;
	font: 1.3vw Tahoma;
	color: #000;
	font-style: italic;
	outline: none
}
::-webkit-input-placeholder { /* Chrome */
  color: #c0c4c2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c0c4c2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c0c4c2;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #c0c4c2;
  opacity: 1;
}

#log{
	left: 1%; 
	top: 2vh;
	width: 5%;
}
#lan {
	width: 35px;
	right: 2%; 
	top: 3vh;
}
#home {
	width: 35px;
right: 78px;
	top: 3vh;
}

.qu {min-height: 108px; font-weight: 100; line-height: 1.5; font-size: 18px; margin-bottom: 30px; }
#openform {cursor: pointer; margin: 44px 54px; width: 28%;  float: right; border: solid 0px #fff;background: linear-gradient(45deg, #1d337f, #76c5f0, #47cf73); background-size: 200% 200%; background-position: center left; }
#openform:hover{
	-webkit-animation: background-rainbow5 1s infinite linear alternate;
animation: background-rainbow5 1s infinite linear alternate;
}

@-webkit-keyframes background-rainbow5{0%{background-position:center left}100%{background-position:center right}}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

#op {
	margin-left: 6%;  
	margin-top: 2%; 
	float: left; 
	width: 70%; 
	font: 2.2vw Calibri; 
	color: white;
}
#end {
	margin-left: 6%;  
	margin-top: 2%; 
	float: left; 
	width: 70%; 
	font: 2.2vw Calibri; 
	color: white;
}
#opimg{
	float: right; 
	margin: 2%;
	width: 9%;
}
.resulto {
	width: 22%
}

 
@media all and (max-width : 480px) {
  #logotext {font-size: 10vw}
/*  #header {height: 11vh; position: fixed; top: 0; background-color: white}*/
/*  #progress {height: 20vh; width: 100%; position: fixed; top: 10vh; background-color: white; margin: 0; box-sizing: border-box; padding: 30px 0 0 4.5%;}*/
  #progress div {width: 6.5%}
  #window1 {left: 0; width: 100%; height: auto; font: 4vw Tahoma; bottom:0;}
  #window0 {left: 0; width: 100%; height: 100%; font: 4vw Tahoma; bottom:0;}
  #start {position: absolute; margin-left: 5%; bottom: 20px; width: 90%; height: auto; }
  #window0 p {text-align: center;margin-left: 2%; padding-right: 5%;font: 6vw Tahoma;}
  #window1 p {text-align: center;margin-left: 2%; padding-right: 5%;font: 6vw Tahoma;}
  #add {font: 6vw Calibri;}

  .arrows img {margin-bottom: 3%}
/*  #title {font-size: 11vw; margin-top: 1%;}*/
  input {max-width: 100%;}
  .entity {margin-top: 1%; margin-bottom: 20%; width: 96%; font-size: 9vw; margin-left: 2%;}
  #backgr {width: 100%; position: fixed; top: 30vh; height: 100%; z-index: -100}
  #content {margin-top: 35vh; position: static; width: 100%}
  #log{width: 7%;}
  #lan {width: 4%; top: 3.5vh;}
  #home {width: 5%; top: 3.5vh; right: 10%}
  .navi {visibility: hidden;}
  .steps {width: 10%}
  .line {width: 6%;margin: 4vh 0.5% 0 0.5%;}
  .warn {font-size: 8vw; z-index: 105;}
  #wa {margin-left: 3%;}
  .labels {font-size: 8vw;}
  #getform {background: none; }
  #openform {position: fixed; margin-left: 0; bottom: 7%; top: auto; width: 100%; height: 7%; font: 5vw Tahoma;z-index: 105;}
  .qu {height: auto;}
  #window2 {position: fixed; height: 65%; left: 0; top:0; width: 100%; font: 5vw Tahoma;}
  .input {font: 4vw Tahoma;}
  #input1 {font: 4vw Tahoma;}
  #op {font: 12vw Calibri; margin-left: 3%; width: 85%; }
  #end {font: 6vw Calibri; }
  #botend{font: 6vw Calibri; }
  #pic {width: 16%; margin: 0.5vh 0 1vh 42%;}
  #opimg{margin: 0.3%;}
  .arrpic {width: 12%;}
}


.labs-wdth954{width: 104%; margin: 1% -7.5%;}
.steps img{width: 31px !important; margin-top: 8px;}

.process-barsty951{padding-left: 0px;text-align: center;}
.process-barsty951 li{ width: 12%; display: inline-block; text-align: center; padding: 8px 4px; background-color: #f5f5f5; margin-right: 5px; border-radius: 12px;vertical-align: bottom;min-height: 115px;background: linear-gradient(45deg, #32468c, #8fd0f3, #71e697);background-size: 200% 200%;
background-position: center left;}

.process-barsty951 li:hover{
	-webkit-animation: background-rainbow2 1s infinite linear alternate;
animation: background-rainbow2 1s infinite linear alternate;
}

@-webkit-keyframes background-rainbow2{0%{background-position:center left}100%{background-position:center right}}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}


.process-barsty951 li span{display: inherit; background-color: #fff; width: 74px; height: 58px; border-radius: 50%; padding-top: 14px; border: solid 1px #76a3c4;}
.process-barsty951 li img{width: 44px !important;}
.process-barsty951 li p{width: 100%;min-height: 35px}
.abc-sty{background-color: #f5f5f5 !important;
color: #eb7e32 !important;
border: solid 2px rgba(81, 80, 78, 0.2);
box-shadow: inset 0px 0px 12px 0px rgba(143, 145, 149, 0.25);}
.abc-sty p{color:#fff !important;}
.abc-sty span{background-color: #fff !important; border: solid 1px #eb7e32; margin-top: -38px;}
.hadsty951{margin-bottom: 33px !important; display: inline-block; position: relative;}
.hadsty951:before{content: ''; position: absolute; left: 0; right: 0; bottom: -10px; width: 144px; height: 2px; background-color: #eb833b; margin: auto;}
.entity.dat-imgsty951.resulto > div:nth-child(1){margin: auto !important;background-color: #fff; border: solid 2px #5a73b0 !important; margin-bottom: 14px !important;}
.entity.dat-imgsty951.resulto img{}
.entity.dat-imgsty951.resulto > div:nth-child(2){}
.flab-logosty{float: left; margin: 3% 0 0 3%; box-shadow: inset 0 0 10px 7px #595959; background: #fff; width: 13%; height: 17%; box-sizing: border-box;}
.flab-dataalllist{float: left; margin-top: 3%; width: 80%; }
.flab-crossbut{cursor: pointer; color: white; top: 2%; right: 2%; position: absolute}
.flab-dataalllist b{font-weight: 100 !important; font-size: 20px !important; line-height: 1.1 !important; padding: 0px 15px !important;}
.send-databutton{text-align: center; display: inline-block; width: 100%;}
.send-databutton button{color: #fff !important; border: 0px; width: auto !important; padding: 2px 40px; float: none !important; margin-left: 0px !important; margin-top: 17px !important; border: solid 0px #fff; margin-bottom: 22px;background: linear-gradient(45deg, #1d337f, #76c5f0, #47cf73);
background-size: 200% 200%; background-position: center left; cursor: pointer;}

.send-databutton button:hover{
	-webkit-animation: background-rainbow6 1s infinite linear alternate;
animation: background-rainbow6 1s infinite linear alternate;
}

@-webkit-keyframes background-rainbow6{0%{background-position:center left}100%{background-position:center right}}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.send-databutton button img{width: 22px; margin-left: 12px;}

.send-databutton button span{color: #595959 !important;}
.flab-crossbut b{font-weight: 100; font-size: 25px; margin-top: -19px; position: absolute; background-color: #595959; border-radius: 50%; width: 43px; height: 45px; line-height: 45px; right: -22px; text-align: center;}