@media (max-width: 750px) {
.headimg2{width: 61px;}
#onfon {width: 69%; height: 100%;margin-left: 28%;}
#oh {font: 10px Tahoma; margin-top: 2px; }
#left {width: 96%; height: auto; margin-top: 3%; margin-left: 0%; margin-bottom: 22px;}
#right {width: 96%; height: auto; margin-top: 3%; margin-left: 0%; margin-bottom: 23px; }
#onfon p{display: none;}
.res-sizeset951{width: 100%;}
#progress {width: 100%; height: auto; min-height: auto; padding-bottom: 15px;}
body {min-width: auto;}
.process-barsty951 {display: none;}
#content {margin-top: 0px !important;}
.arrows {width: 102px;font-size: 16px;}
.arrpic {width: 15px; margin-top: 2px; }
.quizbut {width: 94%;margin-left: 0px;}
.qu {margin-bottom: 8px;height: auto;}
.entity {margin-bottom: 23px;width: 100%; margin-right: 0%; margin-left: 0px !important;}
.hadsty951 {margin-top: 18px !important; font-size: 28px !important; }
#openform {margin: 0px;position: relative;height: auto !important; padding: 2px 4px;
width: auto;}
#op {font: 22px Calibri;text-align: center; margin-top: 0%; }
.sqar {width: 23%; padding: 9px;font-size: 16px}
#window2{overflow: auto; height: auto; width: 97%; top: 15px; margin: auto; left: 0; right: 0; padding: 10px !important; float: none !important; bottom: 2%;}
#flab {font-size: 22px; }
#header {padding-bottom: 9px; min-height: auto !important;}
.winstart {width: 96%; height: auto; font: 14px Tahoma; float:none; top: 25px; left: 0; padding-bottom: 25px; margin: auto; right: 0; position: absolute; }
#add, #add0 {margin-right: 0px;margin-left: 0% !important;}
.flab-crossbut b {right: 3px;}
.qu {min-height: auto !important; font-size: 16px;}
}
@media (max-width: 480px) {

}
@media (min-width: 481px) and (max-width: 600px) {

.headimg2 {width: 80px; }
}

@media (min-width: 600px) and (max-width: 750px) {
.headimg2 {width: 87px; }

}

@media (min-width: 750px) and (max-width: 998px) {
.headimg2{width: 105px;}
#onfon {width: 69%; height: 100%;margin-left: 28%;}
#oh {font: 16px Tahoma; margin-top: 2px; }
#onfon p{display: none;}
.process-barsty951 {display: none;}
#progress {width: 100%; height: auto; min-height: auto;}
body {min-width: auto;}
.winstart {width: 96%; height: auto; font: 14px Tahoma; float:none; top: 25px; left: 0; padding-bottom: 25px; margin: auto; right: 0; overflow: scroll; }
#window2{overflow: auto; height: auto; width: 97%; top: 15px; margin: auto; left: 0; right: 0; padding: 10px !important; float: none !important; bottom: 2%;}
.entity {margin-left: 0px !important;}
.quizbut {width: 100% !important;margin-left: 0px !important;}
#right{height: auto;padding-bottom: 33px;padding-top: 20px;}
#left {height: auto;padding-bottom: 33px;padding-top: 20px;}
}


@media (min-width: 1001px) and (max-width: 1200px) {
#progress {width: 95%;}

}

@media (min-width: 1600px) and (max-width: 20000px) {
.qu {font-size: 20px;}

}


.footer_heading1 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer_links {
    margin-bottom: 10px;
    padding: 0;
}
.footer_links li {
    display: inline-block;
    min-width: 70%;
    margin-bottom: 3px;
    padding-left: 12px;
}
.footer_links li a {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 5px;
    color: #fff;
}

.footer_txt li span {
    display: inline-block;
    color: #fff;
    word-break: break-word;
}
.footer_links li a::before {
    content: '';
    position: absolute;
    background: #fff;
    height: 6px;
    width: 6px;
    top: 0;
    bottom: 0;
    left: -15px;
    margin: auto;
    border-radius: 50%;
    transition: 0.3s;
}

.footer_txt {
    padding: 0;
    margin-bottom: 10px;
}
.footer_txt li {
    display: inline-block;
    width: 100%;
}

.footer_copy_right {
    text-align: center;
}

.footer_copy_right p {
    margin: 0;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    position: relative;
    padding-bottom: 5px;
}
.footer_copy_right p::after {
    content: '';
    position: absolute;
    background: #fff;
    height: 1px;
    width: 100%;
    max-width: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.logofooter-center{text-align: center;}
.logo-footersty{background-color: #fff; border-radius: 50%; width: 150px; height: 150px; margin: auto; text-align: center; padding-top: 27px; margin-bottom: 20px;}
.logo-footersty img{width: 107px;}
#home, #logotext,#lan,.headimg2 a img{ transition: 0.3s;}
#home:hover{margin-top: -5px;}
/*#logotext:hover{margin-top: -5px;}*/
#lan:hover{margin-top: -5px;}
.headimg2 a img:hover{margin-top: -5px;}
.img-subhover951{transition: 0.3s;}
.hover-imgsty951:hover .img-subhover951{margin-top: -5px;}





body .entity.img-dataresul951 > .qu::before , body .entity.dat-imgsty951 > .qu::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
        border-bottom-color: transparent;
    border-bottom-color: #4879b5;
    right: 10px;
    top: -12px;
}

body .entity.img-dataresul951 > .qu::after, body .entity.dat-imgsty951 > .qu::after {
    content: '?';
font-weight: bold;
color: #fff;
position: absolute;
top: -44px;
right: 0px;
 background: linear-gradient(45deg, #8d9eb2, #899fb8, #4879b5);
width: 35px;
height: 35px;
border-radius: 50%;
font-size: 20px;
line-height: 35px;
border: solid 1px #fff;
}

body .entity.img-dataresul951 > .qu , body .entity.dat-imgsty951 > .qu {
   background: linear-gradient(45deg, #8d9eb2, #899fb8, #4879b5);
    border: solid 0px #5a73b0 !important;
    margin-bottom: 14px !important;
    padding: 6px;
    box-shadow: -3px 3px 5px -1px rgba(255, 255, 255, 0.34);
}

body .entity {position: relative;margin-top: 38px !important;}